/* For Box Debugging */

/* * {
    border-color: red;
    border-width: 1px;
    border-style: solid;
} */

/* Presets */

body {
    height: 100vh;
    margin: 0;
    overflow: auto;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 auto;
}

/* Entire Page Container */

.landing-page-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Main Container */

.main-container {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 8px 240px 0 240px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    margin: 8px 160px; 
}

.header-logo {
    display: flex;
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.header-menu ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 16px;
    font-size: 18px;
    color: #E5E7EB;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    margin: 100px 160px;
    gap: 90px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.hero-title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-text {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: lighter;
}

.hero-cta {
    background-color: #3882F6;
    color: white;
    font-size: 16px;
    padding: 4px 20px;
    border-radius: 8px;
    border: none;
}

.hero-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image {
    width: 500px;
    height: 265px;
    border-radius: 6px;
}


/* Info Container */
.info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 100px 400px;
}

.info-title {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.info-gallery {
    display: flex;
    justify-content: center;
    padding: 8px;
    margin: 16px;
    gap: 64px;

}

.info-item-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: center;
}

.item-image {
    height: 150px;
    width: 150px;
    border-color: #3882F6;
    border-width: 4px;
    border-style: solid;
    border-radius: 6px;
    gap: 12px;
}

.item-text {
    font-size: 16px;
    font-weight: lighter;
    flex: 1 1 auto;
    width: 160px;
    text-align: center;
}

/* Quote Container */
.quote-container {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 120px 400px;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    text-align: left;
    padding: 30px;
    margin: 0 250px;
}

.quote-signature {
    font-weight: bold;
    text-align: right;
    padding-right: 200px;
}

/* CTA Container */
.cta-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    margin: 100px 600px;
    padding: 50px;
    border-radius: 6px;
    gap: 120px
}

.cta-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
}

.cta-title {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.cta-text {
    color: white;
    font-weight: lighter;
}

.cta-right {
    display: flex;
    justify-content: flex-end;
}

.cta-button {
    border-style: solid;
    border-color: white;
    border-radius: 8px;
    border-width: 1px;
    background-color: #3882F6;
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding: 4px 24px;
}

/* Footer Container */

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    height: 80px;
    color: white;
    font-weight: lighter;
}